<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-grid>
        <ion-row>
          <ion-col></ion-col>
          <ion-col size="4" class="ion-align-self-center ion-align-items-center">
            <ion-img src="../../assets/guessthenumber.png" alt="Image for the title section with a text which it says 'guess the number'" id="title-image"></ion-img>
              
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
      </ion-grid>

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col sizeXl="4" sizeLg="6" sizeMd="12" class="ion-align-self-center">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Have a guess</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-input type="number" required [(ngModel)]="userAnswer"></ion-input>
            </ion-item>
            <ion-button expand="block" (click)="generateRandomNumber()">Generate your number</ion-button>
            <ion-button expand="block" (click)="compareNumbers(userAnswer)">Compare your number</ion-button>     
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col sizeXl="4" sizeLg="6" sizeMd="12" class="ion-align-self-center">
        <ion-card>
          <ion-card-content *ngIf="randomNumber >= 0" [ngClass] ="{'successful-color' : trueNumber}">
            <ion-text><b>{{answerString}}</b></ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>